* {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

h2 {
  margin-bottom: 2rem;
}

.js-scroll {
  opacity: 0;
  transition: all 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.js-scroll.scrolled.fade-in {
  animation: fade-in 1s ease-in-out 0.5s both;
}

.js-scroll.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out 0.2s both;
}

.js-scroll.scrolled.slide-left {
  animation: slide-left 1s ease-in-out 0.2s both;
}

.js-scroll.scrolled.slide-right {
  animation: slide-right 1s ease-in-out 0.2s both;
}

body {
  overflow-x: hidden;
  background-color: #222;
}

body h3 {
  color: salmon;
  margin-bottom: 2rem;
}

body .flex_line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

body .flex_line h3 {
  margin-bottom: 0;
}

body .flex_line .line {
  width: 2.5rem;
  height: 1px;
  background-color: salmon;
  border: 1px solid salmon;
  display: inline-block;
  margin-inline: 1rem;
}

body header {
  position: fixed;
  background-color: #000;
  width: 100vw;
  padding-block: 1rem;
  z-index: 2;
  transform: translateY(-2rem);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 768px) {
  body header {
    justify-content: space-evenly;
  }
}

@media (min-width: 1024px) {
  body header {
    justify-content: center;
    gap: 10rem;
  }
}

body header img {
  height: 3rem;
  opacity: 0;
  animation: appear-small 1s ease-out 1s forwards;
}

body header nav .nav__menu {
  animation: appear-small 1s ease-out 1s forwards;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 1024px) {
  body header nav .nav__menu {
    display: none;
  }
}

body header nav .nav__menu span {
  display: block;
  width: 2rem;
  height: 0.25rem;
  border-radius: 1rem;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

body header nav .nav__menu span:not(:last-child) {
  margin-bottom: 0.5rem;
}

body header nav .nav__menu.button {
  transition-delay: 0.4s;
  transform: rotate(45deg);
}

body header nav .nav__menu.button :nth-child(2) {
  width: 0;
}

body header nav .nav__menu.button :nth-child(1) {
  transition-delay: 0.4s;
  transform: translateY(12px);
}

body header nav .nav__menu.button :nth-child(3) {
  transition-delay: 0.4s;
  transform: translateY(-12px) rotate(90deg);
}

body header nav .nav__wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 5rem;
  background-color: #222;
  transform: translateX(-110vw);
  transition: all 300ms ease-in;
}

body header nav .nav__wrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 80%;
}

body header nav .nav__wrapper div a {
  text-decoration: none;
  color: salmon;
  font-size: 2rem;
}

body header nav .nav__wrapper.active {
  transition: all 300ms ease-in;
  transform: translateX(0);
}

@media (min-width: 1024px) {
  body header nav .nav__wrapper {
    position: inherit;
    height: 3rem;
    width: 500px;
    background-color: transparent;
    transform: translateX(0);
  }
  body header nav .nav__wrapper div {
    flex-direction: row;
  }
  body header nav .nav__wrapper div a {
    font-size: 1rem;
  }
}

body main {
  max-width: 1440px;
  margin: auto;
}

body main section {
  margin-bottom: 5rem;
}

body main .hero {
  min-height: 700px;
}

body main .hero__text {
  transform: translateY(35%);
  width: 75%;
  margin: auto;
}

@media (min-width: 768px) {
  body main .hero__text {
    transform: translateY(55%);
  }
}

@media (min-width: 768px) {
  body main .hero__text {
    transform: translateY(75%);
  }
}

body main .hero__text p, body main .hero__text h1, body main .hero__text h3 {
  margin-block: 2rem;
}

body main .hero__text h1 {
  font-size: 3rem;
  opacity: 0;
  animation: appear-to-top 1s ease-out 1.2s forwards;
}

body main .hero__text h2 {
  color: salmon;
  opacity: 0;
  animation: appear-to-top 1s ease-out 1.4s forwards;
}

body main .hero__text a {
  background-color: salmon;
  padding: 1rem 3rem;
  border-radius: 2rem;
  border: none;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  opacity: 0;
  animation: appear-to-top 1s ease-out 1.8s forwards;
}

body main .hero__text a:hover {
  background-color: white;
  color: salmon;
}

body main .hero__text h3 {
  opacity: 0;
  animation: appear-to-top 1s ease-out 1s forwards;
}

body main .hero__text p {
  opacity: 0;
  animation: appear-to-top 1s ease-out 1.6s forwards;
}

body main .about__image {
  margin-bottom: 2rem;
}

body main .about__image__wrapper {
  position: relative;
  max-width: 600px;
  margin: auto;
}

body main .about__image__wrapper img {
  width: 80%;
  z-index: 2;
  border: 0.5rem solid black;
}

body main .about__image__wrapper::before {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
  width: 80%;
  height: 80%;
  background-color: salmon;
  transform: translate(4%, -6%);
}

body main .about__text p {
  width: 75%;
  margin: auto;
  margin-bottom: 2rem;
}

body main .about__text p:last-of-type {
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  body main .about__text p {
    width: 60%;
  }
}

body main .portfolio {
  display: flex;
  flex-wrap: wrap;
}

body main .portfolio .project {
  width: 80%;
  max-width: 300px;
  min-height: 40vh;
  margin: auto;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem #000;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

body main .portfolio .project::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: salmon;
  transition: all 0.5s ease;
}

body main .portfolio .project::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}

body main .portfolio .project.beaver::after {
  background: url("/assets/beaver.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

body main .portfolio .project.rockpaper::after {
  background: url("/assets/rockpaper.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

body main .portfolio .project.hotelapp::after {
  background: url("/assets/hotelapp.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

body main .portfolio .project.palindrome::after {
  background: url("/assets/palindromechecker.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

body main .portfolio .project.photolanding::after {
  background: url("/assets/photolanding.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

body main .portfolio .project.fylolanding::after {
  background: url("/assets/fylolanding.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

body main .portfolio .project.weatherapp::after {
  background: url("/assets/weatherapp.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

body main .portfolio .project:hover::before {
  transform: skew(50deg) translateX(135%);
}

body main .portfolio .project:hover::after {
  transform: skew(50deg) translateX(-135%);
  background: salmon;
}

body main .portfolio .project__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
}

body main .portfolio .project__item p {
  margin-bottom: 2rem;
}

body main .portfolio .project__item a {
  background-color: salmon;
  padding: 1rem 3rem;
  border-radius: 2rem;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  width: 8rem;
  align-self: center;
  margin-bottom: 1rem;
  text-decoration: none;
}

body main .portfolio .project__item a:hover {
  background-color: white;
  color: salmon;
}

body main .services__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body main .services__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 500px;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem #000;
  background-image: linear-gradient(salmon, salmon);
  background-size: 0% 10px;
  background-repeat: no-repeat;
  transition: background-size 0.5s;
  background-position: 0 100%;
}

@media (min-width: 768px) {
  body main .services__item {
    width: 50%;
  }
}

body main .services__item:hover {
  background-size: 100% 10px;
}

body main .services__item i {
  margin-block: 1rem;
  font-size: 5rem;
}

body main .services__item p {
  width: 80%;
  margin-bottom: 2rem;
}

@media (min-width: 1024px) {
  body main .workflow {
    display: none;
  }
}

body main .workflow__wrapper {
  display: flex;
  flex-direction: column;
}

body main .workflow__item {
  margin: auto;
  margin-bottom: 2rem;
  width: 75%;
  max-width: 300px;
  text-align: left;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem #000;
}

body main .workflow__item:hover {
  box-shadow: 0 0.5rem 1rem #000;
}

body main .workflow__item h3, body main .workflow__item p {
  text-align: left;
  margin: 1rem;
}

body main .workflow__item p {
  padding-bottom: 1rem;
}

body main .workflow__item i {
  padding: 1rem 0 0 1rem;
}

@media (max-width: 1023px) {
  body main .workflow_carousel {
    display: none;
  }
}

body main .workflow_carousel .container {
  position: relative;
  height: 300px;
  width: 320px;
  margin: 7rem auto 0 auto;
  perspective: 1600px;
}

body main .workflow_carousel .container__carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate 30s infinite forwards linear;
}

body main .workflow_carousel .container__carousel__face {
  position: absolute;
  width: 300px;
  height: 187px;
  background: #222;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem #000;
  display: flex;
  flex-direction: column;
}

body main .workflow_carousel .container__carousel__face p {
  margin-inline: 1rem;
}

body main .workflow_carousel .container__carousel__face i {
  margin-top: 1rem;
}

body main .workflow_carousel .container__carousel__face:hover {
  box-shadow: 0 0.5rem 1rem #000;
}

body main .workflow_carousel .container__carousel__face:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}

body main .workflow_carousel .container__carousel__face:nth-child(2) {
  transform: rotateY(60deg) translateZ(300px);
}

body main .workflow_carousel .container__carousel__face:nth-child(3) {
  transform: rotateY(120deg) translateZ(300px);
}

body main .workflow_carousel .container__carousel__face:nth-child(4) {
  transform: rotateY(180deg) translateZ(300px);
}

body main .workflow_carousel .container__carousel__face:nth-child(5) {
  transform: rotateY(240deg) translateZ(300px);
}

body main .workflow_carousel .container__carousel__face:nth-child(6) {
  transform: rotateY(300deg) translateZ(300px);
}

body main .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body main .contact p {
  width: 80%;
  max-width: 500px;
}

@media (min-width: 768px) {
  body main .contact p {
    width: 50%;
  }
}

body main .contact__form {
  width: 80%;
  max-width: 500px;
}

@media (min-width: 768px) {
  body main .contact__form {
    width: 50%;
  }
}

body main .contact__form input, body main .contact__form textarea {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 3rem;
  background: #222;
  padding-block: 1rem;
  margin-top: 1rem;
}

body main .contact__form input::placeholder, body main .contact__form textarea::placeholder {
  padding-left: 1rem;
  color: #fff;
  margin-left: 1rem;
}

body main .contact__form input:first-of-type, body main .contact__form textarea:first-of-type {
  margin-top: 2rem;
}

body main .contact__form textarea {
  border-radius: 1rem;
}

body main .contact button {
  background-color: salmon;
  padding: 1rem 3rem;
  border-radius: 2rem;
  border: none;
  color: white;
  font-size: 1rem;
  font-size: 0.8rem;
  margin-top: 2rem;
}

body main .contact button:hover {
  background-color: white;
  color: salmon;
}

body footer {
  padding-bottom: 2rem;
}

body footer .socials {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  margin: auto;
}

body footer .socials i {
  font-size: 1.5rem;
  border-color: white;
  margin-bottom: 1rem;
}

body footer img {
  height: 5rem;
  margin-bottom: 1rem;
}

body .page_extras {
  display: flex;
}

body .page_extras .overlay_one {
  position: fixed;
  width: 50vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: salmon;
  z-index: 2;
  animation: leave-left 1s ease-in 0.2s forwards;
}

body .page_extras .overlay_two {
  position: fixed;
  width: 50vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: salmon;
  z-index: 2;
  animation: leave-right 1s ease-in 0.5s forwards;
  left: 50vw;
}

body .page_extras .popup {
  position: fixed;
  background-color: salmon;
  box-shadow: 0 1rem 1rem #000;
  border-radius: 0.5rem 0.5rem 0 0;
  bottom: -5rem;
  transform: translateX(calc(50vw - 6rem));
  height: 4rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 500ms ease-in;
}

body .page_extras .active {
  bottom: 0;
}

@keyframes leave-left {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    height: 0;
    top: 100vh;
    left: 0;
  }
}

@keyframes leave-right {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    height: 0;
    top: 100vh;
    left: 50vw;
  }
}

@keyframes appear-small {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes appear-to-top {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
